<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_DIR" value="${catalina.base}/logs"/>
    <appender name="mcs" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/explorer.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{0}:%L - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- weekly rollover -->
            <fileNamePattern>${LOG_DIR}/explorer.%d{yyyy-ww}.log.gz</fileNamePattern>
            <!-- keep 25 weeks worth of history -->
            <maxHistory>25</maxHistory>
        </rollingPolicy>
    </appender>
    
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %logger{0}:%L - %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="com.nuance.explorer" level="debug"/>
         
   <root level="DEBUG">
        <appender-ref ref="mcs"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>